<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Snoopy!!</title>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Snoopy Stats Page</a>
    </div>
  </nav>


  <div class="container">

    <!-- Overall Graph -->

    <div class="card text-white bg-secondary">
      <div class="card-body">
        <div id="totalChart"></div>
      </div>
    </div>

    <div class="card text-white bg-secondary">
      <div class="card-body">
        <div id="sessionsChart"></div>
      </div>
    </div>

    <div class="card text-white bg-secondary">
      <div class="card-body">
        <div id="pUsersChart"></div>
      </div>
    </div>

    <div class="card text-white bg-secondary">
      <div class="card-body">
        <div id="pSessionsChart"></div>
      </div>
    </div>


  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js" integrity="sha256-8AdWdyRXkrETyAGla9NmgkYVlqw4MOHR6sJJmtFGAYQ=" crossorigin="anonymous"></script>

  <!-- Highcharts -->
  <script src="https://code.highcharts.com/highcharts.src.js"></script>

  <script>

    var date = new Date(Date.parse({{ .FirstRecordDate }}));
    var start = moment({{.FirstRecordDate}}, "YYYYMM");


    Highcharts.chart('totalChart', {
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: "Count"
        }
      },
      title: {
        text: 'Total Unique Users'
      },
      subtitle : {
        text: 'Users are differentiated based on unique IP address'
      },
      series: [{
        pointStart: start,
        pointIntervalUnit: 'month',
        name: 'Unique Users',
        data: [
          {{ range .Totals }}
              {{.Users }},
          {{ end }}
          ]
        }]
      });



    Highcharts.chart('sessionsChart', {
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: "Count"
        }
      },
      title: {
        text: 'Total Unique Sessions'
      },
      subtitle : {
        text: 'A session is based on an inactive period of {{.SessionTime}} minutes'
      },
      series: [{
        pointStart: start,
        pointIntervalUnit: 'month',
        name: 'Unique Sessions',
        data: [
          {{ range .Sessions }}
              {{.Users }},
          {{ end }}
          ]
        }]
      });

      Highcharts.chart('pUsersChart', {
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: "Count"
        }
      },
      title: {
        text: 'Plugin Differentiated Unique Users'
      },
      subtitle : {
        text: 'Users are differentiated based on unique IP address'
      },
      series: [
        {{ range $k, $v := .PluginUsers}}

        {
        pointStart: start,
        pointIntervalUnit: 'month',
        name: '{{ $k }}',
        data: [
          {{ range $u, $i := $v }}
              {{$i.Users}},
          {{ end }}
          ]
        },

        {{ end }}
      
      ]
      });

      Highcharts.chart('pSessionsChart', {
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: "Count"
        }
      },
      title: {
        text: 'Plugin Differentiated Unique Sessions'
      },
      subtitle : {
        text: 'A session is based on an inactive period of {{.SessionTime}} minutes'
      },
      series: [
        {{ range $k, $v := .PluginSessions}}

        {
        pointStart: start,
        pointIntervalUnit: 'month',
        name: '{{ $k }}',
        data: [
          {{ range $u, $i := $v }}
              {{$i.Users}},
          {{ end }}
          ]
        },

        {{ end }}
      
      ]
      });

  </script>

</body>

</html>